@import "tailwindcss";
@media (hover: none) {
  .group:hover {
    transform: none !important;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: black;
}
body {
  cursor: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
